.container{

    padding-bottom: 20px;

}
.new-button{
    background-image: linear-gradient(solid black);
   
    border: none;
    border-radius: 8px;
}
.col-md-5{
    background-image: url(images/bg-1.png);
    background-repeat: no-repeat;
    
}
.col-md-7{
   
}

.button-on{
    text-decoration: none;
  
}